################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/ConsoleSQLConnectionChange/v16
/ConsoleSQLConnectionChange/bin/Debug
/ConsoleSQLConnectionChange/obj/Debug
