<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <connectionStrings>
    <add name="CodeFirstModel" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=CodeFirstModel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="FAMC" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=FAMC;Connect Timeout=30;Integrated Security=True;Encrypt=False;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>